@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
	--menu-hover:#FE8F01;
	--color-general:#e0e0e0;
	--color-titulos:#282d33;
	--color-iconos: #e0e0e0;
	--color-checks:#53c3c9;
	--Color-general:#e0e0e0
	--Color-titulos: #282d33;
	--Color-iconos: #e0e0e0;
	--Color-checks: #53c3c9;
	--Fondo-gris: #f7f7f7;
	--Fondo-footer: #333333;
	--Color-footer: #bababa;
	--color-texto: #acacac; 

}
body{
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	padding-bottom: 30px;
	line-height: 30px;
}

p{
	color: var(--color-texto);
}

header{
	background-color: #FFF;
	padding: 5px 0;
}
footer{
	background-color: #333333;
	color: #bababa;
	padding: 15px 0;
	text-align: center;
}

.titulo{
	font-family: "Catamaran", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
	font-size: 20px;
	color: var(--Color-titulos);
	padding-bottom: 15px;
	padding-top: 30px;
}

.titulo-grande{
	font-family: "Catamaran", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	color: var(--Color-titulos);
	padding-bottom: 15px;
}

.texto-espacio{
	padding-bottom: 60px;
}

.section{
	padding: 100px 0;
}

.fa-check{
	font-size: 40px;
	padding-top: 20px;
	color: var(--Color-checks);
}

.icono {
    font-size: 100px;
	padding-bottom: 30px;
	color: var(--color-iconos);
}

#hero{
	background-image: url("../img/bg-services-title.jpg");
	background-size: cover;
	background-position: center;
	background-color: rgba(0,0,0,0.40);
	background-blend-mode: multiply;
	padding: 8% 0;
	text-align: center;
}

#hero h1{
	font-size: 70px;
	font-weight: 600;
}

#information{
	background-color: var(--Fondo-gris);
	padding-left: 8%;
	padding-right: 8%;
}